/* line 1, sass/about.scss */
.about-container {
  position: relative;
}

/* line 5, sass/about.scss */
.about-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: transparent;
  z-index: -100;
}

/* line 16, sass/about.scss */
.background-upper {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -200;
  top: 0;
  left: 0;
}

/* line 26, sass/about.scss */
.nav {
  margin-top: 50px;
  width: 100%;
  justify-content: space-between;
}
/* line 30, sass/about.scss */
.nav .small-logo {
  margin-left: 50px;
}
/* line 32, sass/about.scss */
.nav .small-logo img {
  width: 150px;
}
/* line 36, sass/about.scss */
.nav .hamburger {
  margin-right: 50px;
  align-items: center;
}
/* line 39, sass/about.scss */
.nav .hamburger .line {
  width: 50px;
  height: 2px;
  background-color: white;
  margin: 3px 0px;
}

/* line 48, sass/about.scss */
.about-hero {
  width: 100%;
  height: 90vh;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 4vw;
}
/* line 59, sass/about.scss */
.about-hero .company-name {
  text-transform: uppercase;
  font-size: 1.6em;
}
/* line 64, sass/about.scss */
.about-hero .company-about {
  font-size: 2.7vw;
  padding: 0px 12vw;
}

/* line 70, sass/about.scss */
.about-info {
  position: relative;
  z-index: -100;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 80, sass/about.scss */
.the-gang, .bios {
  position: relative;
  width: 75%;
  z-index: -20;
}

/* line 86, sass/about.scss */
.bios {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 92, sass/about.scss */
.bios .person {
  width: calc(33% - 24px);
  display: flex;
  flex-direction: column;
}
/* line 97, sass/about.scss */
.bios .person .name {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
/* line 101, sass/about.scss */
.bios .person .name span:nth-of-type(1) {
  font-size: 2.25vw;
  margin-bottom: 5px;
}
/* line 105, sass/about.scss */
.bios .person .name span:nth-of-type(2) {
  margin-top: 8px;
  font-size: 16px;
}
/* line 110, sass/about.scss */
.bios .person .bio-desc {
  font-family: brother-1816, sans-serif;
  padding: 24px 0px;
  font-size: 15px;
  line-height: 1.5em;
}
/* line 116, sass/about.scss */
.bios .person .bio-email {
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  /* line 124, sass/about.scss */
  .about-hero {
    line-height: 3em;
    padding: 99px 0px;
    height: calc(90vh - 200px);
  }
  /* line 128, sass/about.scss */
  .about-hero .company-name {
    font-size: 25px;
  }
  /* line 131, sass/about.scss */
  .about-hero .company-about {
    font-size: 2em;
  }
}
@media only screen and (max-width: 800px) {
  /* line 138, sass/about.scss */
  .about-hero {
    line-height: 2.5em;
  }
}
@media only screen and (max-width: 600px) {
  /* line 144, sass/about.scss */
  .about-hero {
    line-height: 2em;
  }
  /* line 146, sass/about.scss */
  .about-hero .company-name {
    font-size: 1.1em !important;
  }
  /* line 149, sass/about.scss */
  .about-hero .company-about {
    font-size: 1em !important;
  }

  /* line 153, sass/about.scss */
  .the-gang, .bios {
    width: 95%;
  }

  /* line 156, sass/about.scss */
  .bios {
    flex-direction: column;
  }
  /* line 158, sass/about.scss */
  .bios .person {
    width: calc(100% - 48px);
    padding: 24px 12px;
  }
  /* line 163, sass/about.scss */
  .bios .person .name span:nth-of-type(1) {
    font-size: 25px;
  }
  /* line 168, sass/about.scss */
  .bios .person:nth-of-type(1), .bios .person:nth-of-type(2) {
    border-bottom: 1px solid black;
  }
}
