/* line 1, sass/footer.scss */
footer {
  background-color: black;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2em;
}

/* line 10, sass/footer.scss */
.footer-background {
  background-color: transparent !important;
  background-image: url(/images/backgrounds/canopy-bg.png);
}

/* line 15, sass/footer.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  color: white;
}

/* line 21, sass/footer.scss */
.contact-col {
  padding-right: 50px;
}

/* line 25, sass/footer.scss */
.top-row {
  justify-content: space-between;
  padding: 50px 100px;
}

/* line 30, sass/footer.scss */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* line 35, sass/footer.scss */
.social {
  justify-content: space-between;
  align-items: flex-end;
}

/* line 40, sass/footer.scss */
#social-icons {
  display: flex;
  flex-direction: row;
  margin: 12px 0px;
}

/* line 52, sass/footer.scss */
.fas, .fa {
  font-family: 'FontAwesome' !important;
  color: white;
  font-weight: 300 !important;
  font-size: 30px;
  margin: 0px 6px;
}

/* line 60, sass/footer.scss */
.fas:hover, .fa:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* line 65, sass/footer.scss */
#copyright {
  text-decoration: italic;
}

/* line 70, sass/footer.scss */
.links-col span:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
