/* line 1, sass/footer.scss */
footer {
  background-color: black;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2em;
  z-index: 200;
  position: relative;
}

/* line 12, sass/footer.scss */
.footer-background {
  background-color: transparent !important;
  background-image: url(/images/backgrounds/canopy-bg.png);
}

/* line 17, sass/footer.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  color: white;
}
/* line 22, sass/footer.scss */
.flex-row .small-logo img {
  width: 200px;
}

/* line 28, sass/footer.scss */
.footer-row {
  justify-content: space-between;
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
}

/* line 35, sass/footer.scss */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* line 40, sass/footer.scss */
.social {
  justify-content: space-between;
  align-items: flex-end;
}

/* line 45, sass/footer.scss */
#social-icons {
  display: flex;
  flex-direction: row;
  margin: 12px 0px;
}

/* line 51, sass/footer.scss */
.fas, .fa {
  font-family: 'FontAwesome' !important;
  color: white;
  font-weight: 300 !important;
  font-size: 30px;
  margin: 0px 6px;
}

/* line 59, sass/footer.scss */
.fas:hover, .fa:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* line 64, sass/footer.scss */
.footer-links {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}
/* line 68, sass/footer.scss */
.footer-links span {
  border-bottom: 4px solid transparent;
}
/* line 71, sass/footer.scss */
.footer-links span:hover {
  border-bottom: 4px solid white;
  cursor: pointer;
  display: block;
}

/* line 78, sass/footer.scss */
#copyright {
  margin-top: 20px;
  margin-left: 12px;
  text-decoration: italic;
  line-height: 1em;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  /* line 88, sass/footer.scss */
  .footer-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 92, sass/footer.scss */
  .footer-row .small-logo {
    margin-bottom: 20px;
  }
}
