/* line 1, sass/footer.scss */
footer {
  background-color: transparent;
  background-image: url(/images/placeholder/tropical-forest.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 2em;
}

/* line 11, sass/footer.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  color: white;
}

/* line 17, sass/footer.scss */
.contact-col {
  padding-right: 50px;
}

/* line 21, sass/footer.scss */
.top-row {
  justify-content: space-between;
  padding: 50px 100px;
}

/* line 26, sass/footer.scss */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* line 31, sass/footer.scss */
.social {
  justify-content: space-between;
  align-items: flex-end;
}

/* line 36, sass/footer.scss */
#social-icons {
  display: flex;
  flex-direction: row;
}
/* line 40, sass/footer.scss */
#social-icons .fas {
  color: white;
}

/* line 45, sass/footer.scss */
#copyright {
  text-decoration: italic;
}
