/* line 1, sass/homepage.scss */
.hero {
  background-image: url(/images/placeholder/tropical-forest.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

/* line 9, sass/homepage.scss */
.blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

/* line 21, sass/homepage.scss */
h1 {
  visibility: hidden;
}

/* line 25, sass/homepage.scss */
.main-menu {
  width: 200px;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
}
/* line 34, sass/homepage.scss */
.main-menu .nav {
  list-style-type: none;
  padding-left: 0px;
  font-weight: 600;
  color: white;
}
/* line 40, sass/homepage.scss */
.main-menu .nav li {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
/* line 46, sass/homepage.scss */
.main-menu .nav li .projects-link {
  border-bottom: 1px solid white;
}
/* line 49, sass/homepage.scss */
.main-menu .nav li span {
  padding: 10px 0px;
}
/* line 53, sass/homepage.scss */
.main-menu .nav li .projects-sub-list {
  display: flex;
  flex-direction: column;
}
/* line 56, sass/homepage.scss */
.main-menu .nav li .projects-sub-list span {
  padding: 10px 20px;
}
/* line 59, sass/homepage.scss */
.main-menu .nav li .projects-sub-list span:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
/* line 66, sass/homepage.scss */
.main-menu .nav li:nth-of-type(2) {
  padding: 0px !important;
}

/* line 72, sass/homepage.scss */
#title-logo {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
