/* line 1, sass/homepage.scss */
html {
  margin-top: 0px !important;
}

/* line 4, sass/homepage.scss */
body {
  margin: 0;
}

/* line 8, sass/homepage.scss */
.hidden {
  display: none !important;
}

/* line 12, sass/homepage.scss */
.container {
  position: relative;
  width: 100%;
}

/* line 17, sass/homepage.scss */
.hero {
  background-image: url(/wordpress/images/backgrounds/canopy-bg.png);
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 29, sass/homepage.scss */
.blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

/* line 41, sass/homepage.scss */
h1 {
  visibility: hidden;
}

/* line 45, sass/homepage.scss */
.main-menu {
  width: calc(100% - 50px);
  margin: 0px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}
/* line 54, sass/homepage.scss */
.main-menu .home-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
  font-weight: 600;
  color: white;
}
/* line 62, sass/homepage.scss */
.main-menu .home-nav li {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  letter-spacing: 2px;
}
/* line 73, sass/homepage.scss */
.main-menu .home-nav li .projects-sub-list {
  display: flex;
  flex-direction: column;
}
/* line 76, sass/homepage.scss */
.main-menu .home-nav li .projects-sub-list span {
  padding: 10px 20px;
}
/* line 79, sass/homepage.scss */
.main-menu .home-nav li .projects-sub-list span:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
/* line 86, sass/homepage.scss */
.main-menu .home-nav li:nth-of-type(2) {
  padding: 0px !important;
}

/* line 92, sass/homepage.scss */
#title-logo {
  display: block;
  width: 200px;
}

/* line 97, sass/homepage.scss */
.tag-line {
  width: calc(100% - 50px);
  background-color: black;
  color: white;
  text-align: center;
  font-family: Acumin Pro, sans-serif;
  padding: 0px 25px;
}
/* line 104, sass/homepage.scss */
.tag-line span {
  font-size: 3.2em;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}
/* line 111, sass/homepage.scss */
.tag-line .link-div {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}
/* line 116, sass/homepage.scss */
.tag-line .link-div a {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 7px;
  border-bottom: 5px solid white;
}
/* line 122, sass/homepage.scss */
.tag-line .link-div a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* line 131, sass/homepage.scss */
.main {
  position: relative;
  overflow: hidden;
}
/* line 135, sass/homepage.scss */
.main #wave {
  z-index: -2;
  position: absolute;
  width: 100vw;
  top: 50%;
  min-height: 400px;
  transform: translate(0, -50%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 147, sass/homepage.scss */
.main #wave img {
  width: 100%;
}
/* line 152, sass/homepage.scss */
.main .body-header {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
/* line 159, sass/homepage.scss */
.main .body-header h3 {
  font-weight: 600;
  font-size: 1.5em;
}
/* line 163, sass/homepage.scss */
.main .body-header span, .main .body-header a {
  font-size: 0.8em;
  letter-spacing: 2px;
}
/* line 167, sass/homepage.scss */
.main .body-header span {
  padding: 10px 0px;
}
/* line 170, sass/homepage.scss */
.main .body-header a {
  padding-top: 10px;
  color: #00592B;
  font-weight: 600;
  cursor: pointer;
}
/* line 178, sass/homepage.scss */
.main .grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 183, sass/homepage.scss */
.main .grid-container .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 0px 60px;
  margin-bottom: 100px;
}
/* line 190, sass/homepage.scss */
.main .grid-container .grid .grid-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* line 195, sass/homepage.scss */
.main .grid-container .grid .grid-row .grid-item-1, .main .grid-container .grid .grid-row .grid-item-2, .main .grid-container .grid .grid-row .grid-item-3 {
  margin: 10px;
  height: 0;
  position: relative;
  width: 33%;
  overflow: hidden;
  padding-bottom: 33%;
}
/* line 202, sass/homepage.scss */
.main .grid-container .grid .grid-row .grid-item-1 img, .main .grid-container .grid .grid-row .grid-item-2 img, .main .grid-container .grid .grid-row .grid-item-3 img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 214, sass/homepage.scss */
.grid-item-1, .grid-item-2, .grid-item-3 {
  position: relative;
}

/* line 217, sass/homepage.scss */
.grid-item-1:hover, .grid-item-2:hover, .grid-item-3:hover {
  cursor: pointer;
}

/* line 221, sass/homepage.scss */
.grid-item-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 232, sass/homepage.scss */
.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 0px 100px;
  margin-bottom: 75px;
  height: 350px;
}
/* line 242, sass/homepage.scss */
.feature .focus-image {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
/* line 248, sass/homepage.scss */
.feature .focus-image img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* line 255, sass/homepage.scss */
.feature .focus-image img.max {
  width: auto;
  height: 100%;
}
/* line 259, sass/homepage.scss */
.feature .focus-text {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 24px 100px;
  width: 30%;
}
/* line 265, sass/homepage.scss */
.feature .focus-text span, .feature .focus-text a {
  line-height: 1.5em;
}
/* line 268, sass/homepage.scss */
.feature .focus-text a {
  color: white;
  text-decoration: none;
}
/* line 272, sass/homepage.scss */
.feature .focus-text .focus-heading {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 276, sass/homepage.scss */
.feature .focus-text span:nth-of-type(2) {
  padding: 24px 0px;
}
/* line 281, sass/homepage.scss */
.feature .focus-button {
  border: 2px solid white;
  border-radius: 5px;
  width: 140px;
  text-align: center;
  height: 2.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 291, sass/homepage.scss */
.feature .focus-button span {
  font-size: 0.8em;
}
/* line 296, sass/homepage.scss */
.feature .focus-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
