/* line 1, sass/homepage.scss */
html {
  margin-top: 0px !important;
}

/* line 4, sass/homepage.scss */
body {
  margin: 0;
}

/* line 8, sass/homepage.scss */
.hidden {
  display: none !important;
}

/* line 12, sass/homepage.scss */
.container {
  position: relative;
  width: 100%;
}

/* line 17, sass/homepage.scss */
.hero {
  background-image: url(/wordpress/images/backgrounds/canopy-bg.png);
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 29, sass/homepage.scss */
.blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

/* line 41, sass/homepage.scss */
h1 {
  visibility: hidden;
}

/* line 45, sass/homepage.scss */
.parent-link {
  margin: 0px 20px;
  padding: 6px 0px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

/* line 52, sass/homepage.scss */
.parent-link:hover {
  border-bottom: 4px solid white;
}

/* line 55, sass/homepage.scss */
.active-main-link {
  border-bottom: 4px solid white;
}

/* line 59, sass/homepage.scss */
.main-menu {
  width: calc(100% - 50px);
  margin: 0px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
}
/* line 67, sass/homepage.scss */
.main-menu .home-nav {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  font-weight: 600;
  color: white;
  align-items: flex-start;
}
/* line 75, sass/homepage.scss */
.main-menu .home-nav .expandable-nav {
  display: flex;
  flex-direction: column;
}
/* line 79, sass/homepage.scss */
.main-menu .home-nav .about-div {
  margin-top: 6px;
}
/* line 84, sass/homepage.scss */
.main-menu #projects-sub-nav {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: white;
  font-size: 0.8em;
  margin-top: 6px;
}
/* line 92, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item {
  display: flex;
  flex-direction: column;
  width: 200px;
}
/* line 96, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-nav-item-title {
  padding: 6px 0px;
  padding-left: 3px;
}
/* line 100, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-nav-item-title:hover {
  cursor: pointer;
}
/* line 103, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .active-title {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 108, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-project-links {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* line 114, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-project-links .project-nav-link {
  padding: 6px 24px;
}
/* line 117, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-project-links .project-nav-link:hover {
  cursor: pointer;
}
/* line 121, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-project-links .even-link {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
/* line 126, sass/homepage.scss */
.main-menu #projects-sub-nav .sub-nav-item .sub-project-links .odd-link {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 135, sass/homepage.scss */
#title-logo {
  display: block;
  width: 200px;
}

/* line 140, sass/homepage.scss */
.tag-line {
  width: calc(100% - 50px);
  background-color: black;
  color: white;
  text-align: center;
  font-family: Acumin Pro, sans-serif;
  padding: 0px 25px;
}
/* line 147, sass/homepage.scss */
.tag-line span {
  font-size: 3.2em;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 5px;
}
/* line 154, sass/homepage.scss */
.tag-line .link-div {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}
/* line 159, sass/homepage.scss */
.tag-line .link-div a {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 7px;
  border-bottom: 5px solid white;
}
/* line 165, sass/homepage.scss */
.tag-line .link-div a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 5px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* line 174, sass/homepage.scss */
.main {
  position: relative;
  overflow: hidden;
}
/* line 178, sass/homepage.scss */
.main #wave {
  z-index: -2;
  position: absolute;
  width: 100vw;
  top: 50%;
  min-height: 400px;
  transform: translate(0, -50%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 190, sass/homepage.scss */
.main #wave img {
  width: 100%;
}
/* line 195, sass/homepage.scss */
.main .body-header {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
/* line 202, sass/homepage.scss */
.main .body-header h3 {
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
/* line 208, sass/homepage.scss */
.main .body-header span, .main .body-header a {
  font-size: 0.8em;
  letter-spacing: 2px;
}
/* line 212, sass/homepage.scss */
.main .body-header span {
  padding: 10px 0px;
}
/* line 215, sass/homepage.scss */
.main .body-header a {
  padding-top: 10px;
  color: #00592B;
  font-weight: 600;
  cursor: pointer;
}
/* line 223, sass/homepage.scss */
.main .grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 227, sass/homepage.scss */
.main .grid-container .grid {
  margin: 0px 50px;
  width: calc(100% - 100px);
}
/* line 231, sass/homepage.scss */
.main .grid-container .grid .grid-item {
  display: inline;
  width: calc(33% - 24px);
  height: 0;
  padding-bottom: calc(33% - 24px);
  padding: 12px;
}

/* line 243, sass/homepage.scss */
.grid-item-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 254, sass/homepage.scss */
.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 0px 100px;
  margin-bottom: 75px;
  height: 350px;
}
/* line 264, sass/homepage.scss */
.feature .focus-image {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
/* line 270, sass/homepage.scss */
.feature .focus-image img {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* line 277, sass/homepage.scss */
.feature .focus-image img.max {
  width: auto;
  height: 100%;
}
/* line 281, sass/homepage.scss */
.feature .focus-text {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 24px 100px;
  width: 30%;
}
/* line 287, sass/homepage.scss */
.feature .focus-text span, .feature .focus-text a {
  line-height: 1.5em;
}
/* line 290, sass/homepage.scss */
.feature .focus-text a {
  color: white;
  text-decoration: none;
}
/* line 294, sass/homepage.scss */
.feature .focus-text .focus-heading {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 298, sass/homepage.scss */
.feature .focus-text span:nth-of-type(2) {
  padding: 24px 0px;
}
/* line 303, sass/homepage.scss */
.feature .focus-button {
  border: 2px solid white;
  border-radius: 5px;
  width: 140px;
  text-align: center;
  height: 2.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 313, sass/homepage.scss */
.feature .focus-button span {
  font-size: 0.8em;
}
/* line 318, sass/homepage.scss */
.feature .focus-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
