/* line 1, sass/projectpage.scss */
body {
  margin: 0 !important;
}

/* line 5, sass/projectpage.scss */
.hidden {
  display: none;
}

/* line 9, sass/projectpage.scss */
.show {
  display: block;
}

/* line 13, sass/projectpage.scss */
.invisible {
  visibility: hidden;
}

/* line 17, sass/projectpage.scss */
.slider {
  position: relative;
}
/* line 19, sass/projectpage.scss */
.slider #slidePrevious, .slider #slideNext {
  position: absolute;
  top: calc(50% - 75px);
  z-index: 50;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}
/* line 28, sass/projectpage.scss */
.slider #slidePrevious i, .slider #slideNext i {
  font-size: 75px !important;
  color: rgba(255, 255, 255, 0.8);
}
/* line 32, sass/projectpage.scss */
.slider #slidePrevious i:hover, .slider #slideNext i:hover {
  color: white;
}
/* line 36, sass/projectpage.scss */
.slider #slidePrevious:hover, .slider #slideNext:hover {
  cursor: pointer;
}
/* line 40, sass/projectpage.scss */
.slider #slidePrevious {
  left: 10px !important;
}
/* line 43, sass/projectpage.scss */
.slider #slideNext {
  right: 10px;
}
/* line 46, sass/projectpage.scss */
.slider .slide {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}
/* line 52, sass/projectpage.scss */
.slider .slide img {
  width: 100% !important;
}

/* line 58, sass/projectpage.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

/* line 63, sass/projectpage.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 71, sass/projectpage.scss */
.project-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* line 76, sass/projectpage.scss */
.project-container .project-info-detail {
  padding: 48px 96px;
}

/* line 81, sass/projectpage.scss */
.project-info-detail {
  line-height: 2em;
}
/* line 84, sass/projectpage.scss */
.project-info-detail h4 {
  font-size: 2em;
  padding-bottom: 24px;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 91, sass/projectpage.scss */
.project-info-detail .proj-subtitle {
  text-transform: uppercase;
  display: block;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 98, sass/projectpage.scss */
.project-info-detail #proj-desc {
  line-height: 1.5em !important;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  font-family: brother-1816, sans-serif;
}
/* line 107, sass/projectpage.scss */
.project-info-detail .line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 24px;
}
/* line 114, sass/projectpage.scss */
.project-info-detail .project-breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* line 124, sass/projectpage.scss */
.project-info-detail .project-breakdown .column {
  display: flex;
  flex-direction: row;
}
/* line 128, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column {
  padding: 24px 24px;
}
/* line 131, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column .subhead {
  display: block;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 136, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column #tools {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
/* line 142, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column div ul {
  margin-left: 24px !important;
}
/* line 144, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column div ul li {
  list-style-type: initial !important;
}

/* line 156, sass/projectpage.scss */
.transparent-black-background {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

@media only screen and (max-width: 1000px) {
  /* line 162, sass/projectpage.scss */
  .project-info-detail .project-breakdown {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  /* line 170, sass/projectpage.scss */
  .slider {
    margin-top: 99px;
  }

  /* line 173, sass/projectpage.scss */
  .main-menu {
    background-color: black !important;
  }

  /* line 176, sass/projectpage.scss */
  .project-info-detail {
    padding: 48px 24px !important;
  }
  /* line 179, sass/projectpage.scss */
  .project-info-detail .project-breakdown .column {
    flex-direction: column;
  }
  /* line 184, sass/projectpage.scss */
  .project-info-detail #proj-desc {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
