/* line 1, sass/projectpage.scss */
body {
  margin: 0 !important;
}

/* line 5, sass/projectpage.scss */
.hidden {
  display: none;
}

/* line 9, sass/projectpage.scss */
.show {
  display: block;
}

/* line 13, sass/projectpage.scss */
.invisible {
  visibility: hidden;
}

/* line 17, sass/projectpage.scss */
.slider {
  position: relative;
}
/* line 19, sass/projectpage.scss */
.slider #slidePrevious, .slider #slideNext {
  position: absolute;
  top: calc(50% - 75px);
  z-index: 50;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}
/* line 28, sass/projectpage.scss */
.slider #slidePrevious i, .slider #slideNext i {
  font-size: 75px !important;
  color: rgba(255, 255, 255, 0.8);
}
/* line 32, sass/projectpage.scss */
.slider #slidePrevious i:hover, .slider #slideNext i:hover {
  color: white;
}
/* line 36, sass/projectpage.scss */
.slider #slidePrevious:hover, .slider #slideNext:hover {
  cursor: pointer;
}
/* line 40, sass/projectpage.scss */
.slider #slidePrevious {
  left: 10px !important;
}
/* line 43, sass/projectpage.scss */
.slider #slideNext {
  right: 10px;
}
/* line 46, sass/projectpage.scss */
.slider .slide {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}
/* line 52, sass/projectpage.scss */
.slider .slide img {
  width: 100% !important;
}

/* line 58, sass/projectpage.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

/* line 63, sass/projectpage.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 71, sass/projectpage.scss */
.project-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 188px);
}
/* line 77, sass/projectpage.scss */
.project-container .project-info-detail {
  padding: 48px 96px;
}

/* line 82, sass/projectpage.scss */
.project-info-detail {
  line-height: 2em;
}
/* line 85, sass/projectpage.scss */
.project-info-detail h4 {
  font-size: 2em;
  padding-bottom: 24px;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 92, sass/projectpage.scss */
.project-info-detail .proj-subtitle {
  text-transform: uppercase;
  display: block;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 99, sass/projectpage.scss */
.project-info-detail #proj-desc {
  line-height: 1.5em !important;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  font-family: brother-1816, sans-serif;
}
/* line 108, sass/projectpage.scss */
.project-info-detail .line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 24px;
}
/* line 115, sass/projectpage.scss */
.project-info-detail .project-breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* line 125, sass/projectpage.scss */
.project-info-detail .project-breakdown .column {
  display: flex;
  flex-direction: row;
}
/* line 129, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column {
  padding: 24px 24px;
}
/* line 132, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column .subhead {
  display: block;
  font-family: Acumin Pro Bold, sans-serif;
  font-weight: 700;
}
/* line 137, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column #tools {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
/* line 143, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column div ul {
  margin-left: 24px !important;
}
/* line 145, sass/projectpage.scss */
.project-info-detail .project-breakdown .column .breakdown-column div ul li {
  list-style-type: initial !important;
}

/* line 157, sass/projectpage.scss */
.dark-nav {
  background-color: black !important;
}

/* line 164, sass/projectpage.scss */
#projectPagePlaceholder {
  visibility: hidden;
  height: 0px;
  width: 0px;
  position: absolute;
  z-index: -2000;
}

@media only screen and (max-width: 1000px) {
  /* line 174, sass/projectpage.scss */
  .project-info-detail .project-breakdown {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  /* line 182, sass/projectpage.scss */
  .project-container {
    min-height: 0px;
  }

  /* line 185, sass/projectpage.scss */
  .transparent-black-background {
    background-color: black !important;
  }

  /* line 188, sass/projectpage.scss */
  .slider {
    margin-top: 99px;
  }
  /* line 190, sass/projectpage.scss */
  .slider #slidePrevious, .slider #slideNext {
    top: 60%;
    width: 45px !important;
    height: 45px !important;
  }
  /* line 194, sass/projectpage.scss */
  .slider #slidePrevious i, .slider #slideNext i {
    font-size: 45px !important;
  }
  /* line 198, sass/projectpage.scss */
  .slider #slidePrevious {
    left: 10px !important;
  }
  /* line 201, sass/projectpage.scss */
  .slider #slideNext {
    right: 10px;
  }

  /* line 205, sass/projectpage.scss */
  .project-info-detail {
    padding: 48px 24px !important;
  }
  /* line 207, sass/projectpage.scss */
  .project-info-detail .project-breakdown {
    max-width: 100%;
    overflow-x: scroll;
  }
  /* line 210, sass/projectpage.scss */
  .project-info-detail .project-breakdown .column {
    flex-direction: column;
  }
  /* line 215, sass/projectpage.scss */
  .project-info-detail #proj-desc {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
