footer {
    background-color: black;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2em;
    z-index: 200;
    position: relative;
}

.footer-background {
    background-color: transparent !important;
    background-image: url(/images/backgrounds/canopy-bg.png);
}

.flex-row {
    display: flex;
    flex-direction: row;
    color: white;
    .small-logo {
        img {
            width: 200px;
        }
    }
}

.footer-row {
    justify-content: space-between;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.social {
    justify-content: space-between;
    align-items: flex-end;
}

#social-icons {
    display: flex;
    flex-direction: row;
    margin: 12px 0px;
}

.fas, .fa {
    font-family: 'FontAwesome' !important;
    color: white;
    font-weight: 300 !important;
    font-size: 30px;
    margin: 0px 6px;
}

.fas:hover, .fa:hover {
    color: rgba(255,255,255,0.5);
    cursor:pointer;
}

.footer-links {
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    span {
        border-bottom: 4px solid transparent;
    }
    span:hover {
        border-bottom: 4px solid white;
        cursor:pointer;
        display: block;
    }
}

#copyright {
    margin-top: 20px;
    margin-left: 12px;
    text-decoration: italic;
    line-height: 1em;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .small-logo {
            margin-bottom: 20px;
        }
    }

    .social {
        align-items: center;
    }
}
