footer {
    background-color: transparent;
    background-image: url(/wordpress/images/backgrounds/canopy-bg.png);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 2em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    color: white;
}

.contact-col {
    padding-right: 50px;
}

.top-row {
    justify-content: space-between;
    padding: 50px 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.social {
    justify-content: space-between;
    align-items: flex-end;
}

#social-icons {
    display: flex;
    flex-direction: row;
    margin: 12px 0px;

    // .fas, .fa {
    //     font-family: 'FontAwesome' !important;
    //     color: white;
    //     font-weight: 600 !important;
    // }
}

.fas, .fa {
    font-family: 'FontAwesome' !important;
    color: white;
    font-weight: 300 !important;
    font-size: 30px;
    margin: 0px 6px;
}

.fas:hover, .fa:hover {
    color: rgba(255,255,255,0.5);
    cursor:pointer;
}

#copyright {
    text-decoration: italic;
}

.links-col {
    span:hover {
        background-color: rgba(255,255,255,0.15);
        cursor:pointer;
    }
}
