html {
    margin-top: 0px !important;
}
body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
    width: 100%;
}

.hero {
    background-image: url(/wordpress/images/backgrounds/canopy-bg.png);
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5));
    background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5));
}

h1 {
    visibility: hidden;
}

.main-menu {
    width: 200px;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;

    .nav {
        list-style-type: none;
        padding-left: 0px;
        font-weight: 600;
        color: white;

        li {
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            .projects-link {
                border-bottom: 1px solid white;
            }
            span {
                padding: 10px 0px;
            }

            .projects-sub-list {
                display: flex;
                flex-direction: column;
                span {
                    padding: 10px 20px;
                }
                span:hover{
                    background-color: rgba(255,255,255,0.15);
                    cursor:pointer;
                }
            }
        }

        li:nth-of-type(2) {
            padding: 0px !important;
        }
    }
}

#title-logo {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.main {
    position: relative;
    overflow: hidden;

    #wave {
        z-index: -2;
        position: absolute;
        width: 100vw;
        top: 50%;
        min-height: 400px;
        transform: translate(0, -50%);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .body-header {
        padding: 50px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h3 {
            font-weight: 600;
            font-size: 1.5em;
        }
        span, a {
            font-size: 0.8em;
            letter-spacing: 2px;
        }
        span {
            padding: 10px 0px;
        }
        a {
            padding-top: 10px;
            color: #00592B;
            font-weight: 600;
            cursor:pointer;
        }
    }

    .grid-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            padding: 0px 60px;
            margin-bottom: 100px;
            .grid-row {
                display: flex;
                flex-direction: row;
                width: 100%;
                // margin: 20px;
                .grid-item-1, .grid-item-2, .grid-item-3 {
                    margin: 10px;
                    height: 0;
                    position: relative;
                    width: 33%;
                    overflow: hidden;
                    padding-bottom: 33%;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

}

.grid-item-1, .grid-item-2, .grid-item-3 {
    position: relative;
}
.grid-item-1:hover, .grid-item-2:hover, .grid-item-3:hover {
    cursor:pointer;
}

.grid-item-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.85);
    color: white;
    padding: 0px 100px;
    margin-bottom: 75px;
    height:350px;

    .focus-image {
        background-color: lightgray;
        // width: 33%;
        // flex-basis: 100%;
        width:45%;
        height:100%;
    }

    .focus-text {
        display: flex;
        flex-direction: column;
        padding: 24px 0px 24px 100px;
        width: 30%;
        //TODO: FIX RESPONSIVENESS OF THIS SECTION
        span {
            line-height: 1.5em;
        }
        .focus-heading {
            font-size: 1.2em;
        }
        span:nth-of-type(2) {
            padding: 24px 0px;
        }
    }

    .focus-button {
        border: 2px solid white;
        border-radius: 5px;
        width: 140px;
        text-align: center;
        height: 2.5em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 0.8em;
        }
    }

    .focus-button:hover {
        background-color: rgba(255,255,255,0.15);
        cursor: pointer;
    }
}
