html {
    margin-top: 0px !important;
}
body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.container {
    position: relative;
    width: 100%;
}

.hero {
    //TODO remove wordpress from path
    background-image: url(/wordpress/images/backgrounds/canopy-bg.png);
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
    background: -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5));
    background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.5));
}

h1 {
    visibility: hidden;
}

.parent-link {
    margin: 0px 20px;
    padding: 6px 0px;
    border-bottom: 4px solid transparent;
    cursor:pointer;
}

.parent-link:hover {
    border-bottom: 4px solid white;
}
.active-main-link {
    border-bottom: 4px solid white;
}

.main-menu {
    width: calc(100% - 50px);
    margin: 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;

    .home-nav {
        margin-top: 45px; //TODO fix this for mobile
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        font-weight: 600;
        color: white;
        align-items: flex-start;
        .expandable-nav {
            display: flex;
            flex-direction: column;
        }
        .about-div {
            margin-top: 6px;
        }
    }

    #projects-sub-nav {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        color: white;
        font-size: 0.8em;
        margin-top: 6px;
        .sub-nav-item {
            display: flex;
            flex-direction: column;
            width: 200px;
            .sub-nav-item-title {
                padding: 6px 0px;
                padding-left: 3px;
            }
            .sub-nav-item-title:hover {
                cursor:pointer;
            }
            .active-title {
                background-color: rgba(255,255,255,0.3)
            }


            .sub-project-links {
                margin-top: 6px;
                margin-bottom: 6px;
                width: 100%;
                display: flex;
                flex-direction: column;
                .project-nav-link {
                    padding: 6px 24px;
                }
                .project-nav-link:hover {
                    cursor: pointer;
                }
    
                .even-link {
                    cursor:pointer;
                    background-color: rgba(255,255,255,0.5);
                    color: black;
                }
                .odd-link {
                    cursor:pointer;
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }
    }
}

#title-logo {
    display: block;
    width: 200px;
}

.tag-line {
    width: calc(100% - 50px);
    background-color: black;
    color: white;
    text-align: center;
    font-family: Acumin Pro, sans-serif;
    padding: 0px 25px;
    span {
        font-size: 3.2em;
        margin-top: 100px;
        margin-bottom: 20px;
        font-weight: 700;
        letter-spacing: 5px;
    }
    .link-div {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 100px;
        a {
            font-size: 1.5em;
            font-weight: 700;
            letter-spacing: 7px;
            border-bottom: 5px solid white;
        }
        a:hover {
            color: rgba(255,255,255,0.8);
            border-bottom: 5px solid rgba(255,255,255,0.8);
            cursor:pointer;
        }
    }

}

.main {
    position: relative;
    overflow: hidden;

    #wave {
        z-index: -2;
        position: absolute;
        width: 100vw;
        top: 50%;
        min-height: 400px;
        transform: translate(0, -50%);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .body-header {
        padding: 50px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        h3 {
            font-weight: 700;
            font-size: 2.5em;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        span, a {
            font-size: 0.8em;
            letter-spacing: 2px;
        }
        span {
            padding: 10px 0px;
        }
        a {
            padding-top: 10px;
            color: #00592B;
            font-weight: 600;
            cursor:pointer;
        }
    }

    .grid-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .grid {
            margin: 0px 50px;
            width: calc(100% - 100px);

            .grid-item {
                display: inline;
                width: calc(33% - 24px);
                height: 0;
                padding-bottom: calc(33% - 24px);
                padding: 12px;
            }
        }
    }

}

.grid-item-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.85);
    color: white;
    padding: 0px 100px;
    margin-bottom: 75px;
    height:350px;

    .focus-image {
        position: relative;
        width:45%;
        height:100%;
        overflow: hidden;
        z-index: 1;
        img {
            position:absolute;
            z-index:2;
            top:50%;
            left:50%;
            width:100%;
            transform:translate(-50%, -50%); 
            &.max{ width:auto; height:100%; }
        }
    }

    .focus-text {
        display: flex;
        flex-direction: column;
        padding: 24px 0px 24px 100px;
        width: 30%;
        //TODO: FIX RESPONSIVENESS OF THIS SECTION
        span, a {
            line-height: 1.5em;
        }
        a {
            color: white;
            text-decoration: none;
        }
        .focus-heading {
            font-size: 1.5em;
            text-transform: uppercase;
        }
        span:nth-of-type(2) {
            padding: 24px 0px;
        }
    }

    .focus-button {
        border: 2px solid white;
        border-radius: 5px;
        width: 140px;
        text-align: center;
        height: 2.5em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 0.8em;
        }
    }

    .focus-button:hover {
        background-color: rgba(255,255,255,0.15);
        cursor: pointer;
    }
}
