body {
    margin: 0 !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.slider {
    position: relative;
    #slidePrevious, #slideNext {
        position: absolute;
        top: calc(50% - 75px);
        z-index: 50;
        // background-color: rgba(0,0,0,0.3);
        border-radius: 50%;
        width: 75px;
        height: 75px;
        text-align: center;
        i {
            font-size: 75px !important;
            color: rgba(255,255,255,0.8);
        }
        i:hover {
            color: white;
        }
    }
    #slidePrevious:hover, #slideNext:hover {
        cursor:pointer;
        // background-color: rgba(0,0,0,0.1);
    }
    #slidePrevious {
        left: 10px !important;
    }
    #slideNext {
        right: 10px;
    }
    .slide {
        width: 100%;
        img {
            width: 100% !important;
        }
    }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .project-info-detail {
        padding: 48px 96px;
    }
}

.project-info-detail {
    line-height: 2em;

    h4 {
        font-size: 2em;
        padding-bottom: 24px;
        font-family: Acumin Pro Bold, sans-serif;
        font-weight: 700;
    }

    .proj-subtitle {
        text-transform: uppercase;
        display: block;
        font-family: Acumin Pro Bold, sans-serif;
        font-weight: 700;
    }

    #proj-desc {
        line-height: 1.5em !important;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        font-family: brother-1816, sans-serif;

    }

    .line {
        width: 100%;
        height: 1px;
        background-color: black;
        margin-top: 24px;
    }

    .project-breakdown {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    
        .column:first-of-type {
            padding-right: 50px;
        }
    
        .column {
            display: flex;
            flex-direction: row;

            .breakdown-column {
                padding: 24px 24px;
        
                .subhead {
                    display: block;
                    font-family: Acumin Pro Bold, sans-serif;
                    font-weight: 700;
                }
                #tools {
                    column-count: 2;
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                }
                div {
                    ul {
                        margin-left: 24px !important;
                        li {
                            list-style-type: initial !important;
                        }
                    }
                }
            }
        }
    }


}

